{% load static %}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
        .btn-main-color {
            background: #03468f;
            color: #fff;
        }

        .btn-main-color:hover {
            background: #007aff;
            color: #fff;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>게시판 수정</h1>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-2" style="text-align: right;">
                        <button type="button" class="btn btn-main-color mt-4" onclick="javascript:history.back();">뒤로</button>
                        <button type="submit" class="btn btn-main-color mt-4">수정</button>
                    </div>
                    
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="게시글 제목" name="title" value="{{board.title}}" />
                    </div>

                    <div class="mb-3">
                        <select name="board_name" class="form-select" id="board_name">
                            <option value="information">정보게시판</option>
                            <option value="meeting">모임게시판</option>
                            <option value="chat">잡담게시판</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <textarea class="form-control" name="contents" placeholder="게시글 내용" rows="5">{{board.contents}}</textarea>
                    </div>

                    {% if error %} 
                    {{ error }} 
                    {% endif %} 
                </form>
            </div>
        </div>
    </div>
    <script>
        const el = document.getElementById('board_name');  //select box
        const len = el.options.length; //select box의 option 갯수
        const str = "{{board.board_name}}"; //입력 받은 value 값

        for (let i=0; i<len; i++){  
            //select box의 option value가 입력 받은 value의 값과 일치할 경우 selected
            if(el.options[i].value == str){
                el.options[i].selected = true;
                break;
            }
        }  
    </script>
</body>
</html>