@charset "UTF-8";

#aTag:hover {
  background-color: #ffffff;
  border-style: solid;
  border-color: white;
}

.category {
  position: relative;
  display: flex;
  align-items: baseline;
  width: 1017px;
  height: 63px;
  left: 10px;
  top: 100px;
}

.category img {
  width: 100%; /* 이미지 너비 조정 */
  height: auto; /* 이미지 높이 자동 조정 */
}

.category-font{
  margin: 0px 30px;
  padding: 4px 6px;
  font-weight: 700;
  background-color: white;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
  cursor: pointer;
}

.act {
  margin: 0px 15px;
  padding: 4px 6px;
  font-weight: 700;
  background-color: #03468f;
  color: white;
  border-style: solid;
  border-color: white;
  border-radius: 16px;
}

.top_Containner {
  position: relative;
  display: flex;
  top: 50px;
  left: 0px;
}

.recent_like {
  display: flex;
  position: relative;
  width: 517px;
  height: 23px;
  left: 20px;
  top: 110px;

}

.recent_like > button {
  margin-right: 20px;
  border: 0;
  outline: 0;
  background-color: white;
}


 .writing__ {
  display: flex;
  position: relative;
  width: 100px;
  height: 25px;
  left: 1000px;
  top: 80px;
  line-height: 20px;
  /* background: #90D483; */
  background: #03468f;
  font-weight: 600;
  font-size: 19px;
  color: #FFFFFF;
  border-radius: 10px;
  border-color: white;
  padding-left: 10px;
  padding-top: 3px;
}

.card {
  border : none;
  width: 1107px;
  height: 263px;
  left: 0px;
  top: 130px;
}

.card-body {
  background-color:  #c4c4c4;
  height: 263px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-block {
  position: relative;
  border-top: solid 1px black;
  top: 200px;
  height: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.card-category {
  float: left;
  border: solid;
  border-top-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-right-width: thin;
  width: 100px;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  height: 20px;
  line-height: 20px;
  top: 5px;
  left: -260px;
}

.community_img {
  float: right;
  width: 357px;
  height: 235px;
  left: 1070px;
  top: 1px;
}

.community_time {
  position: relative;
  text-align: right;
  width: 55px;
  height: 20px;
  left: 590px;
  top: -20px;
  font-weight: 200;
  font-size: 13px;

}

.community_writer {
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  width: 45px;
  height: 20px;
  left: 650px;
  top: -23px;
}

.contents {
  padding-top: 10px;
  margin-top: 10px;
  top: 10px;
  padding-left: 5px;
}

.card-contents-name {
  font-size: 18px;
  width: 250px;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: left;
  top: 80px;
}

#card-contents {
  float: left;
  background-color: #c4c4c4;
  width: 700px;
  height: 130px;
}

.card-like {
  float: left;
  border: solid;
  border-top-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-right-width: thin;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  width: 80px;
  height: 20px;
  line-height: 20px;
}

.card-comment {
  float: left;
  margin-left: 10px;
  border: solid;
  border-top-width: thin;
  border-bottom-width: thin;
  border-left-width: thin;
  border-right-width: thin;
  text-align: center;
  border-radius: 16px;
  background-color: white;
  width: 100px;
  height: 20px;
  line-height: 20px;
}
.see_more {
  background-color: #c4c4c4;
  border: 0;
  outline: 0;
}
