@charset "UTF-8";

/* nav-bar */
body > nav {
  background-color: white;
  z-index: 1000;
}

.navbar__ {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  align-items: center;
  padding: 3px 12px;
  border: 1px solid rgb(160, 160, 160);
  border-width: 0px 0px 1px 0px;
  border-radius: 5px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  font-family: NanumSquareRound;
  background-color: white;
}

.navbar__ a {
  text-decoration: none;
  color: rgb(63, 63, 63);
}

.navbar__logo {
  font-size: 24px;
  margin-left: 220px;
  margin-bottom: 4px;
  background-color: white;
}

.navbar__menu {
  display: none;
  font-weight: 700;
  align-items: baseline;
  list-style: none;
  padding-left: 0;
  padding-top: 12px;
  font-size: 15px;
  background-color: white;
}

.navbar__menu li {
  padding: 8px 12px 0px 0px;
  background-color: white;
}

.navbar__menu menu-i {
  font-size: 24px;
  padding: 0px 15px;
  background-color: white;
}

/* login */
.navbar__login {
  display: flex;
  font-weight: 700;
  align-items: baseline;
  list-style: none;
  padding-left: 0;
  padding-top: 1px;
}

.navbar__login login-i {
  font-size: 24px;
  padding: 0px 15px;
}

.navbar__login li {
  padding: 8px 12px 0px 0px;
}

/* 알림 */
.navbar__login > div > div > button > a > login-i {
  padding-right: 0;
  margin-right: 0;
}

.navbar__login > div > div > button {
  border: #fff;
  border-color: #fff;
  background-color: white;
  padding: 0;
  margin: 0;
}

.btn-check:focus + .btn-secondary,
.btn-secondary:focus {
  color: #fff;
  background-color: #ffffff;
  border-color: #ffffff;
  padding: 0;
  margin: 0;
}

.btn-secondary:hover {
  border: #fff;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none;
}

/* 검색 */
.navbar__login > div:nth-child(3) > div > ul {
  padding: 0;
  margin: 0;
  border-width: 0;
  border-color: #ffffff;
  width: 250px;
}

.navbar__login > div:nth-child(3) > div > ul > li {
  padding-right: 0;
}

body > nav > ul.navbar__login > div:nth-child(3) > div > ul {
  max-width: 70rem;
  min-width: 20rem;
  bottom: 0px;
}