@charset "UTF-8";

* {
    font-family: NanumSquareRound;
  }


body {
    background-color:#EEEFF1;
    align-items: center;
    height: 100%;
    min-height: 100%;
    padding-bottom: 68px; /* footer 높이 */
    margin: 0;
    padding: 0;
    position: relative;
    -ms-overflow-style: none;
  }

  body::-webkit-scrollbar {
    display:none;
  }

  .box {
    scrollbar-width: none;
    }

  .box::-webkit-scrollbar {
    display: none;
    width: 0;
  }


  h1 {
    font-size: 30px;
    margin-top: 200px;
    text-align: center;
    font-family: NanumSquareRound;
  }
  
  .form_item_name {
    color: gray;
    font-size: 15px;
    margin-top: 20px;
    top: 10px;
  }

  .form_item_num {
    color: gray;
    font-size: 15px;
    margin-top: 20px;
    top: 10px;
  }

  .form_input{
    width: 98%; 
    height: 30px; 
    border: 1px solid; 
    border-radius: 5px; 
    border-color: #E1E1E1;
    box-sizing: border-box;
    padding: 20px;
}

 .form_number{
   position: relative;
   text-align: center;
    font-size: 12px;
    color: gray;
    bottom: 30px;
 }

  .cell_input{
    border: 1px solid;
    border-radius: 5px; 
    border-color: #E1E1E1;
    padding: 20px;
    height: 20px;
    margin-bottom: 10px;
  }

  .form_text_alert_padding {
      padding-bottom : 20px;
      padding-top: 20px;
  }

  .serch_password {
      color : gray;
      font-size : 12px;
  }

  a {
    text-decoration: none;
  }

  content {
    font-family: NanumSquareRound;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 28px;
    padding-top: 300px;
  }
  
  .search-bar {
    width: 45vw;
    margin-left: 20px;
    font-family: NanumSquareRound;
  }
  
  .form-control {
    border-radius: 0.7em;
    border: 1px solid #a7a7a7;
  }
  
  .search-bar-btn {
    border-radius: 0.7em;
  }
  
  .li-non {
    padding-left: 15px;
  }
  
  .main-icons {
    margin-left: 35px;
    margin-top: 35px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  
    /* footer 설정 */
    height: auto;
    min-height: 100%;
    padding-bottom: 68px;
  }
  
  .main-icon {
    flex-direction: column;
  }
  
  .main-icon i:hover {
    color: #03468f;
  }
  
  .main-icons i {
    margin: 0px 35px;
    font-size: 45px;
    color: rgb(63, 63, 63);
  }
  
  .main-icons-font {
    text-align: center;
    font-weight: 700;
    margin: 10px 0px;
    padding: 0;
  } 

.login-form {
    width: 350px;
    border: 0;
    border-radius: 5px;
    background-color:white;
    padding: 20px;
    padding-top: 60px;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 0%;
}

.notice {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  bottom: 35px;
  line-height: 10px;
  padding: 25px;
}

.text-field {
    font-size: 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
}

.number-btn{
  color: #EEEFF1;
  font-size: 12px;
  background-color: #03468f;
  margin-bottom: 7px;
  margin: 0 auto;
  padding: 8px;
  margin-bottom: 7px;
  border: none;
  line-height: 25px;
  border-radius: 5px;
  width: 24%;
  cursor: pointer; 
  margin-left: 10px;
  outline: none;
  left: 220px;
  bottom: 51px;
  position: relative;
}

.submit-btn {
    color: #EEEFF1;
    font-size: 14px;
    background-color: #03468f;
    margin-bottom: 50px;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 100px;
    border: none;
    line-height: 25px;
    border-radius: 5px;
    width: 50%;
    cursor: pointer; 
    margin-left: 80px;
    outline: none;
}

.link {
    text-decoration: underline;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.links {
    text-align: center;
    font-size: 12px;
    color: gray;
    position: relative;
    bottom: 80px;
}

.links a {
    font-size: 12px;
    color: #9b9b9b;
}

.footer__ {
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 700;
  width: 100%;
  }

.footer-contents {
  position: relative;
  border: 1px solid #03468f;
  border-width: 3px 0px 0px 0px;
  position: relative;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  background-color: white;
}

.footer-content {
  text-align: center;
  margin: 7px 60px;
  font-size: x-small;
}

.footer-contents-1 {
  margin-top: 40px;
}

.footer-content-3 {
  margin-top: 40px;
  display: flex;
}

.footer-content-info {
  margin-right: 40px;
}