/* store.css */

.row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 70, 143, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.col-md-4:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.drink-details {
  color: #fff;
  text-align: center;
}

.drink-info {
  margin-bottom: 5px;
  color: #000;
}

@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .row {
    grid-template-columns: repeat(1, 1fr);
  }
}
