{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Signup Page</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
<body>
	<div class="login-box">
        
		<h2>Signup</h2>
		<form method="POST" action="">
			{% csrf_token %}

			{% for form in forms %}
			<div>
				<label for="{{ form.id_for_label }}">{{ form.label }}</label>
				{{ form }}
			</div>
			{% endfor %}

			{% for form in forms %}
			{{ form.errors }}
			{% endfor %}

	
			<a href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <button type="submit" name="register-submit" value="register">Submit</button>
              </a>

		</form>
	
	</div>

</body>
</html>